.dropDownMenu {
  display: none;

  min-height: 7.5vw;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.73vw;
  position: relative;
}

.dropDownMenu_active {
  display: block;
  width: 12.6vw;
  margin-left: 31vw;
  position: absolute;
  z-index: 1;
  background: #ffffff;
}

.dropDownMenu_item {
  border: solid 1px transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 12.6vw;
  padding-top: 0.83vw;
  padding-left: 1.3vw;
  padding-bottom: 0.83vw;
  text-decoration: none;
  color: #2c2d2e;

  &:hover {
    background: rgba(44, 45, 46, 0.04);
    border: 1px solid rgba(44, 45, 46, 0.08);
  }
}

.dropDownMenu_item__watch {
  margin: 0;
  padding-left: 0.68vw;
}

.dropDownMenu_item__edit {
  margin: 0;
  padding-left: 0.68vw;
}

.dropDownMenu_item__delete {
  margin: 0;
  padding-left: 0.68vw;
}
