.admin {
  display: flex;
  flex-direction: column;
  min-width: 13.7vw;
  margin-left: 19.5vw;
  margin-top: 40px;
  background-color: #ffffff;
}

.admin_border {
  border-bottom: 1px solid rgba(42, 47, 55, 0.1);
}
.admin_menu {
  border-left: solid 2px transparent;
  display: flex;
  margin-bottom: 24px;
  margin-top: 24px;
  cursor: pointer;
  height: 40px;
  &:hover {
    border-left: solid 2px #4877f2;
    svg {
      path {
        stroke: #4877f2;
      }
    }
    .admin_description__name {
      color: #4877f2;
    }
    .admin_description__menu {
      color: #4877f2;
    }
  }
}

.admin_menu__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(42, 47, 55, 0.08);
  width: 40px;
  height: 40px;
}

.admin_description {
  padding-left: 16px;
}

.admin_description__name {
  margin: 0;

  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2a2f37;
  &:hover {
    color: #4877f2;
  }
}
.admin_description__menu {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2a2f37;
  margin: 0;
  opacity: 0.6;
  &:hover {
    color: #4877f2;
  }
}
.admin_ads {
  border-left: solid 2px transparent;
  height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 1.25vw;

  &:hover {
    border-left: solid 2px #4877f2;
    svg {
      path {
        stroke: #4877f2;
      }
    }
    .admin_ads__text {
      color: #4877f2;
    }
  }
}

.admin_ads__logo {
}

.admin_ads__text {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2a2f37;
  padding-left: 0.625vw;
  text-decoration: none;
}

.admin_exit {
  border-left: solid 2px transparent;
  height: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 1.25vw;

  &:hover {
    border-left: solid 2px #4877f2;
    svg {
      path {
        stroke: #4877f2;
      }
    }
    .admin_exit__text {
      color: #4877f2;
    }
  }
}
.admin_exit__text {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2a2f37;
  padding-left: 0.625vw;
  &:hover {
    color: #4877f2;
  }
}
